// Quasar 主题变量
// 参考 https://quasar.dev/style/theme-builder

$primary   : #FF4081    // 粉色主色调
$secondary : #FF80AB    // 浅粉辅助色
$accent    : #C51162    // 深粉强调色

$dark      : #1D1D1D
$dark-page : #121212

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037
